In [5]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# loading the dataframe
messy_df = pd.read_csv('Athens.csv')

In [7]:
# take a look of the first 5 rows in the data
messy_df.head()

,WlYyy,FmrIP href,dugSS src,bUshh,cIVmB,iPqaD href 2,WlYyy 2,WlYyy 3,iPqaD href 3,dugSS src 2,WlYyy 5,iPqaD,iPqaD href 5,WlYyy 6,dkvhj,WlYyy 7,TCGml,WlYyy 8
0,"2,000+ places sorted by traveler favorites",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"35,897",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Acropolis,1.0,https://www.tripadvisor.com/Attraction_Review-...,Historic Sites • Ancient Ruins,Open now,https://www.tripadvisor.com/Profile/samiam9390,https://dynamic-media-cdn.tripadvisor.com/medi...,By,samiam9390,https://www.tripadvisor.com/ShowUserReviews-g1...,Be sure to,bring water,"and wear comfortable and supportive shoes, as ...",NaN,NaN
2,"37,044",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Acropolis Museum,2.0,https://www.tripadvisor.com/Attraction_Review-...,History Museums,Thissio / Makriyanni,https://www.tripadvisor.com/Profile/Connector7...,https://dynamic-media-cdn.tripadvisor.com/medi...,By,Connector789612,https://www.tripadvisor.com/ShowUserReviews-g1...,"A must for your visit to Athens, a world class...",top floor,of the...,•,Open now
3,"16,945",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Parthenon,3.0,https://www.tripadvisor.com/Attraction_Review-...,Historic Sites • Ancient Ruins,Open now,https://www.tripadvisor.com/Profile/Balkrishna...,https://dynamic-media-cdn.tripadvisor.com/medi...,By,BalkrishnaShroff,https://www.tripadvisor.com/ShowUserReviews-g1...,Parthenon is a former temple on the Athenian A...,goddess Athena,", whom the people of A...",NaN,NaN
4,"7,856",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,National Archaeological Museum,4.0,https://www.tripadvisor.com/Attraction_Review-...,Art Museums • History Museums,Exarchia,https://www.tripadvisor.com/Profile/Freedom195335,https://dynamic-media-cdn.tripadvisor.com/medi...,By,Freedom195335,https://www.tripadvisor.com/ShowUserReviews-g1...,I loved seeing the real,Antikythera Mechanism,"- a truly amazing ancient computer, whose gear...",•,Open now

In [8]:
# check the datatype & non-null count
messy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288 entries, 0 to 287
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   WlYyy         287 non-null    object
 1   FmrIP href    276 non-null    object
 2   dugSS src     247 non-null    object
 3   bUshh         276 non-null    object
 4   cIVmB         276 non-null    float64
 5   iPqaD href 2  275 non-null    object
 6   WlYyy 2       287 non-null    object
 7   WlYyy 3       231 non-null    object
 8   iPqaD href 3  78 non-null     object
 9   dugSS src 2   78 non-null     object
 10  WlYyy 5       78 non-null     object
 11  iPqaD         78 non-null     object
 12  iPqaD href 5  78 non-null     object
 13  WlYyy 6       77 non-null     object
 14  dkvhj         78 non-null     object
 15  WlYyy 7       72 non-null     object
 16  TCGml         61 non-null     object
 17  WlYyy 8       62 non-null     object
dtypes: float64(1), object(17)
memory usage: 40.6+ KB

In [9]:
# making a cop of the data to clean it
df = messy_df.copy()

In [10]:
# dropping the unnecessary columns
df.drop(['WlYyy', 'FmrIP href', 'dugSS src', 'cIVmB', 'iPqaD href 2', 'WlYyy 3', 'iPqaD href 3', 'dugSS src 2', 'WlYyy 5', 'iPqaD','iPqaD href 5', 'WlYyy 6', 'dkvhj', 'WlYyy 7', 'TCGml', 'WlYyy 8'], axis=1 , inplace=True)

In [11]:
# renaming the columns
df.rename(columns={ 'bUshh':'Attraction Name', 'WlYyy 2':'Attraction Type'}, inplace=True)

In [12]:
# adding new columns
df['City'] = 'Athens'
df['Country'] = 'Greece'

In [13]:
# check the total duplicated rows
sum(df.duplicated())

15

In [14]:
# drop the duplicated rows
df.drop_duplicates()

,Attraction Name,Attraction Type,City,Country
0,NaN,NaN,Athens,Greece
1,Acropolis,Historic Sites • Ancient Ruins,Athens,Greece
2,Acropolis Museum,History Museums,Athens,Greece
3,Parthenon,Historic Sites • Ancient Ruins,Athens,Greece
4,National Archaeological Museum,Art Museums • History Museums,Athens,Greece
...,...,...,...,...
282,Food Around Athens,Cultural Tours • Walking Tours,Athens,Greece
283,Olive Sea Travel,City Tours • Multi-day Tours,Athens,Greece
284,Greeking.me,City Tours • Cultural Tours,Athens,Greece
285,Michael's Amazing Tours,Multi-day Tours • Sightseeing Tours,Athens,Greece
286,Athens Limo Tours,Multi-day Tours • Taxis & Shuttles,Athens,Greece

In [15]:
df.columns

Index(['Attraction Name', 'Attraction Type', 'City', 'Country'], dtype='object')

In [16]:
#checking for total null values
df.isnull().sum()

Attraction Name    12
Attraction Type     1
City                0
Country             0
dtype: int64

In [17]:
# reset the index
df.reset_index(drop=True)

,Attraction Name,Attraction Type,City,Country
0,NaN,NaN,Athens,Greece
1,Acropolis,Historic Sites • Ancient Ruins,Athens,Greece
2,Acropolis Museum,History Museums,Athens,Greece
3,Parthenon,Historic Sites • Ancient Ruins,Athens,Greece
4,National Archaeological Museum,Art Museums • History Museums,Athens,Greece
...,...,...,...,...
283,Olive Sea Travel,City Tours • Multi-day Tours,Athens,Greece
284,Greeking.me,City Tours • Cultural Tours,Athens,Greece
285,Michael's Amazing Tours,Multi-day Tours • Sightseeing Tours,Athens,Greece
286,Athens Limo Tours,Multi-day Tours • Taxis & Shuttles,Athens,Greece
287,NaN,1,Athens,Greece

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 288 entries, 0 to 287
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Attraction Name  276 non-null    object
 1   Attraction Type  287 non-null    object
 2   City             288 non-null    object
 3   Country          288 non-null    object
dtypes: object(4)
memory usage: 9.1+ KB

In [19]:
# Store the clean dataset
df.to_csv('Athensclean.csv')