In [5]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# loading the dataframe
messy_df = pd.read_csv('Chicago.csv')

In [7]:
messy_df.columns

Index(['WlYyy', 'FmrIP href', 'dugSS src', 'bUshh', 'cIVmB', 'iPqaD href 2',
       'WlYyy 2', 'WlYyy 3', 'iPqaD href 3', 'dugSS src 2', 'WlYyy 4', 'iPqaD',
       'iPqaD href 5', 'WlYyy 5', 'dkvhj', 'WlYyy 6'],
      dtype='object')

In [8]:
# take a look of the first 5 rows in the data
messy_df.head()

,WlYyy,FmrIP href,dugSS src,bUshh,cIVmB,iPqaD href 2,WlYyy 2,WlYyy 3,iPqaD href 3,dugSS src 2,WlYyy 4,iPqaD,iPqaD href 5,WlYyy 5,dkvhj,WlYyy 6
0,"2,000+ places sorted by traveler favorites",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"24,172",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,The Art Institute of Chicago,1.0,https://www.tripadvisor.com/Attraction_Review-...,Art Museums,Grant Park,https://www.tripadvisor.com/Profile/Rrrryan,https://dynamic-media-cdn.tripadvisor.com/medi...,By,Rrrryan,https://www.tripadvisor.com/ShowUserReviews-g3...,"Renzo Piano, the architect of the",modern wing,", outdid himself; the new addition is gorgeous..."
2,"11,041",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Museum of Science and Industry,2.0,https://www.tripadvisor.com/Attraction_Review-...,Science Museums,Hyde Park,https://www.tripadvisor.com/Profile/538andrez,https://dynamic-media-cdn.tripadvisor.com/medi...,By,538andrez,https://www.tripadvisor.com/ShowUserReviews-g3...,Among the museum's exhibits are a full-size re...,coal mine,", German submarine U-505 captured during World..."
3,"10,900",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,360 Chicago Observation Deck,3.0,https://www.tripadvisor.com/Attraction_Review-...,Architectural Buildings • Observation Decks & ...,Near North Side,https://www.tripadvisor.com/Profile/dcsae,https://dynamic-media-cdn.tripadvisor.com/medi...,By,dcsae,https://www.tripadvisor.com/ShowUserReviews-g3...,We always take out of town visitors to either ...,Willis tower,and they are both fantastic at night.
4,"18,085",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Cloud Gate,4.0,https://www.tripadvisor.com/Attraction_Review-...,Points of Interest & Landmarks • Monuments & S...,Millennium Park,https://www.tripadvisor.com/Profile/GailofSB,https://dynamic-media-cdn.tripadvisor.com/medi...,By,GailofSB,https://www.tripadvisor.com/ShowUserReviews-g3...,"It was dreamy to wander, after exploring",The Bean,", to experience the Chicago Symphony rehearsin..."

In [9]:
# check the datatype & non-null count
messy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   WlYyy         380 non-null    object
 1   FmrIP href    365 non-null    object
 2   dugSS src     355 non-null    object
 3   bUshh         365 non-null    object
 4   cIVmB         365 non-null    float64
 5   iPqaD href 2  365 non-null    object
 6   WlYyy 2       379 non-null    object
 7   WlYyy 3       370 non-null    object
 8   iPqaD href 3  109 non-null    object
 9   dugSS src 2   109 non-null    object
 10  WlYyy 4       121 non-null    object
 11  iPqaD         109 non-null    object
 12  iPqaD href 5  109 non-null    object
 13  WlYyy 5       109 non-null    object
 14  dkvhj         109 non-null    object
 15  WlYyy 6       103 non-null    object
dtypes: float64(1), object(15)
memory usage: 47.6+ KB

In [10]:
# making a cop of the data to clean it
df = messy_df.copy()

In [11]:
# dropping the unnecessary columns
df.drop(['WlYyy', 'FmrIP href', 'dugSS src','cIVmB', 'iPqaD href 2', 'WlYyy 3', 'iPqaD href 3', 'dugSS src 2', 'WlYyy 4', 'iPqaD','iPqaD href 5', 'WlYyy 5', 'dkvhj', 'WlYyy 6'], axis=1 , inplace=True)

In [12]:
# renaming the columns
df.rename(columns={ 'bUshh':'Attraction Name', 'WlYyy 2':'Attraction Type'}, inplace=True)

In [13]:
# adding new columns
df['City'] = 'Chicago'
df['Country'] = 'USA'

In [14]:
# check the total duplicated rows
sum(df.duplicated())

18

In [15]:
# drop the duplicated rows
df.drop_duplicates()

,Attraction Name,Attraction Type,City,Country
0,NaN,NaN,Chicago,USA
1,The Art Institute of Chicago,Art Museums,Chicago,USA
2,Museum of Science and Industry,Science Museums,Chicago,USA
3,360 Chicago Observation Deck,Architectural Buildings • Observation Decks & ...,Chicago,USA
4,Cloud Gate,Points of Interest & Landmarks • Monuments & S...,Chicago,USA
...,...,...,...,...
374,Rivendell Theatre,Theaters,Chicago,USA
375,XpresSpa,Airport Shops,Chicago,USA
376,World War II Submariners,Monuments & Statues,Chicago,USA
377,Holy Family Catholic Church,Churches & Cathedrals,Chicago,USA
378,Talie,Airport Shops,Chicago,USA

In [16]:
df.columns

Index(['Attraction Name', 'Attraction Type', 'City', 'Country'], dtype='object')

In [17]:
#checking for total null values
df.isnull().sum()

Attraction Name    15
Attraction Type     1
City                0
Country             0
dtype: int64

In [18]:
# reset the index
df.reset_index(drop=True)

,Attraction Name,Attraction Type,City,Country
0,NaN,NaN,Chicago,USA
1,The Art Institute of Chicago,Art Museums,Chicago,USA
2,Museum of Science and Industry,Science Museums,Chicago,USA
3,360 Chicago Observation Deck,Architectural Buildings • Observation Decks & ...,Chicago,USA
4,Cloud Gate,Points of Interest & Landmarks • Monuments & S...,Chicago,USA
...,...,...,...,...
375,XpresSpa,Airport Shops,Chicago,USA
376,World War II Submariners,Monuments & Statues,Chicago,USA
377,Holy Family Catholic Church,Churches & Cathedrals,Chicago,USA
378,Talie,Airport Shops,Chicago,USA
379,NaN,1,Chicago,USA

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Attraction Name  365 non-null    object
 1   Attraction Type  379 non-null    object
 2   City             380 non-null    object
 3   Country          380 non-null    object
dtypes: object(4)
memory usage: 12.0+ KB

In [20]:
# Store the clean dataset
df.to_csv('Chicagoclean.csv')