In [9]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
# loading the dataframe
messy_df = pd.read_csv('Doha.csv')

In [11]:
# take a look of the first 5 rows in the data
messy_df.head()

,WlYyy,FmrIP href,dugSS src,dugSS src 2,bUshh,cIVmB,iPqaD href 2,WlYyy 2,iPqaD href 3,WlYyy 3,iPqaD,iPqaD href 5,WlYyy 4,dkvhj,WlYyy 5,WlYyy 6
0,318 places sorted by traveler favorites,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"8,746",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,https://dynamic-media-cdn.tripadvisor.com/medi...,Souq Waqif,1.0,https://www.tripadvisor.com/Attraction_Review-...,Points of Interest & Landmarks • Scenic Walkin...,https://www.tripadvisor.com/Profile/Bilal-AlMo...,By,Bilal-AlMokaddem,https://www.tripadvisor.com/ShowUserReviews-g2...,A great old,traditional market,with many shops and restaurants to eat and buy...,NaN
2,"6,339",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,https://dynamic-media-cdn.tripadvisor.com/medi...,Museum of Islamic Art,2.0,https://www.tripadvisor.com/Attraction_Review-...,Art Museums,https://www.tripadvisor.com/Profile/miss_aida_,By,miss_aida_,https://www.tripadvisor.com/ShowUserReviews-g2...,"Amazing exhibition rooms,",beautiful building,"with great outside spaces, lovely views over t...",Open now
3,545,https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,https://dynamic-media-cdn.tripadvisor.com/medi...,National Museum of Qatar,3.0,https://www.tripadvisor.com/Attraction_Review-...,Speciality Museums • History Museums,https://www.tripadvisor.com/Profile/Ruqaiya-Ma...,By,Ruqaiya-Maryam,https://www.tripadvisor.com/ShowUserReviews-g2...,"WoW, this ‘",Desert Rose,’ building has a very fascinating look from th...,Open now
4,"2,590",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,https://dynamic-media-cdn.tripadvisor.com/medi...,Katara Cultural Village,4.0,https://www.tripadvisor.com/Attraction_Review-...,Visitor Centers • Theaters,https://www.tripadvisor.com/Profile/rasistraav...,By,rasistraavelouge,https://www.tripadvisor.com/ShowUserReviews-g2...,to relax with family.. katara has a good ambie...,Nice place,NaN,NaN

In [12]:
# check the datatype & non-null count
messy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   WlYyy         252 non-null    object
 1   FmrIP href    288 non-null    object
 2   dugSS src     260 non-null    object
 3   dugSS src 2   73 non-null     object
 4   bUshh         288 non-null    object
 5   cIVmB         288 non-null    float64
 6   iPqaD href 2  240 non-null    object
 7   WlYyy 2       299 non-null    object
 8   iPqaD href 3  82 non-null     object
 9   WlYyy 3       92 non-null     object
 10  iPqaD         82 non-null     object
 11  iPqaD href 5  82 non-null     object
 12  WlYyy 4       88 non-null     object
 13  dkvhj         82 non-null     object
 14  WlYyy 5       68 non-null     object
 15  WlYyy 6       95 non-null     object
dtypes: float64(1), object(15)
memory usage: 37.6+ KB

In [13]:
# making a cop of the data to clean it
df = messy_df.copy()

In [14]:
# dropping the unnecessary columns
df.drop(['WlYyy', 'FmrIP href', 'dugSS src', 'dugSS src 2', 'cIVmB','iPqaD href 2', 'iPqaD href 3', 'WlYyy 3', 'iPqaD','iPqaD href 5', 'WlYyy 4', 'dkvhj', 'WlYyy 5', 'WlYyy 6'], axis=1 , inplace=True)

In [15]:
# renaming the columns
df.rename(columns={ 'bUshh':'Attraction Name', 'WlYyy 2':'Attraction Type'}, inplace=True)

In [16]:
# adding new columns
df['City'] = 'Doha'
df['Country'] = 'Qatar'

In [17]:
# check the total duplicated rows
sum(df.duplicated())

10

In [18]:
# drop the duplicated rows
df.drop_duplicates()

,Attraction Name,Attraction Type,City,Country
0,NaN,NaN,Doha,Qatar
1,Souq Waqif,Points of Interest & Landmarks • Scenic Walkin...,Doha,Qatar
2,Museum of Islamic Art,Art Museums,Doha,Qatar
3,National Museum of Qatar,Speciality Museums • History Museums,Doha,Qatar
4,Katara Cultural Village,Visitor Centers • Theaters,Doha,Qatar
...,...,...,...,...
294,Scuba Life Qatar,Scuba & Snorkelling • Boat Tours,Doha,Qatar
295,Al Zubara Fort,Castles,Doha,Qatar
296,1847 Executive Grooming For Men,Spas,Doha,Qatar
297,Stadium 974,Arenas & Stadiums,Doha,Qatar
298,Aldar marine water sports,Waterskiing & Jetskiing • Boat Rentals,Doha,Qatar

In [19]:
df.columns

Index(['Attraction Name', 'Attraction Type', 'City', 'Country'], dtype='object')

In [20]:
#checking for total null values
df.isnull().sum()

Attraction Name    12
Attraction Type     1
City                0
Country             0
dtype: int64

In [21]:
# reset the index
df.reset_index(drop=True)

,Attraction Name,Attraction Type,City,Country
0,NaN,NaN,Doha,Qatar
1,Souq Waqif,Points of Interest & Landmarks • Scenic Walkin...,Doha,Qatar
2,Museum of Islamic Art,Art Museums,Doha,Qatar
3,National Museum of Qatar,Speciality Museums • History Museums,Doha,Qatar
4,Katara Cultural Village,Visitor Centers • Theaters,Doha,Qatar
...,...,...,...,...
295,Al Zubara Fort,Castles,Doha,Qatar
296,1847 Executive Grooming For Men,Spas,Doha,Qatar
297,Stadium 974,Arenas & Stadiums,Doha,Qatar
298,Aldar marine water sports,Waterskiing & Jetskiing • Boat Rentals,Doha,Qatar
299,NaN,1,Doha,Qatar

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Attraction Name  288 non-null    object
 1   Attraction Type  299 non-null    object
 2   City             300 non-null    object
 3   Country          300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [23]:
# Store the clean dataset
df.to_csv('Dohaclean.csv')