In [17]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [18]:
# loading the dataframe
messy_df = pd.read_csv('Madrid.csv')

In [19]:
# take a look of the first 5 rows in the data
messy_df.head()

,WlYyy,FmrIP href,dugSS src,bUshh,cIVmB,iPqaD href 2,WlYyy 2,WlYyy 3,iPqaD href 3,dugSS src 2,WlYyy 5,iPqaD,iPqaD href 5,WlYyy 6,dkvhj,WlYyy 7
0,"3,000+ places sorted by traveler favorites",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"57,049",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Prado National Museum,1.0,https://www.tripadvisor.com/Attraction_Review-...,Art Museums,Retiro,https://www.tripadvisor.com/Profile/hernandesf...,https://dynamic-media-cdn.tripadvisor.com/medi...,By,hernandesf2015,https://www.tripadvisor.com/ShowUserReviews-g1...,Best artist in the world (including best colle...,El Greco,"and Velazquez), everything well organiz..."
2,"55,960",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Parque del Retiro,2.0,https://www.tripadvisor.com/Attraction_Review-...,Parks,Retiro,https://www.tripadvisor.com/Profile/johannak656,https://dynamic-media-cdn.tripadvisor.com/medi...,By,johannak656,https://www.tripadvisor.com/ShowUserReviews-g1...,"A wonderful place to walk, nap, row, snack - b...",crystal palace,", beautiful little lake, rea..."
3,"22,715",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Santiago Bernabeu Stadium,3.0,https://www.tripadvisor.com/Attraction_Review-...,Arenas & Stadiums,Chamartín,https://www.tripadvisor.com/Profile/F4554KUmarch,https://dynamic-media-cdn.tripadvisor.com/medi...,By,F4554KUmarch,https://www.tripadvisor.com/ShowUserReviews-g1...,... tour without a tour guide and it was fanta...,trophy room,.
4,"34,730",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Royal Palace of Madrid,4.0,https://www.tripadvisor.com/Attraction_Review-...,Historic Sites • Architectural Buildings,Centro,https://www.tripadvisor.com/Profile/147summer01,https://dynamic-media-cdn.tripadvisor.com/medi...,By,147summer01,https://www.tripadvisor.com/ShowUserReviews-g1...,My family and I really enjoyed and appreciated...,Royal Palace,Very relaxing and beautiful.

In [20]:
# check the datatype & non-null count
messy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 387 entries, 0 to 386
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   WlYyy         387 non-null    object
 1   FmrIP href    371 non-null    object
 2   dugSS src     371 non-null    object
 3   bUshh         371 non-null    object
 4   cIVmB         371 non-null    float64
 5   iPqaD href 2  371 non-null    object
 6   WlYyy 2       386 non-null    object
 7   WlYyy 3       376 non-null    object
 8   iPqaD href 3  98 non-null     object
 9   dugSS src 2   98 non-null     object
 10  WlYyy 5       98 non-null     object
 11  iPqaD         98 non-null     object
 12  iPqaD href 5  98 non-null     object
 13  WlYyy 6       97 non-null     object
 14  dkvhj         98 non-null     object
 15  WlYyy 7       92 non-null     object
dtypes: float64(1), object(15)
memory usage: 48.5+ KB

In [21]:
# making a cop of the data to clean it
df = messy_df.copy()

In [22]:
# dropping the unnecessary columns
df.drop(['WlYyy', 'FmrIP href', 'dugSS src',  'cIVmB', 'iPqaD href 2','WlYyy 3', 'iPqaD href 3', 'dugSS src 2', 'WlYyy 5', 'iPqaD','iPqaD href 5', 'WlYyy 6', 'dkvhj', 'WlYyy 7'], axis=1 , inplace=True)

In [23]:
# renaming the columns
df.rename(columns={ 'bUshh':'Attraction Name', 'WlYyy 2':'Attraction Type'}, inplace=True)

In [24]:
# adding new columns
df['City'] = 'Madrid'
df['Country'] = 'Spain'

In [25]:
# check the total duplicated rows
sum(df.duplicated())

24

In [26]:
# drop the duplicated rows
df.drop_duplicates()

,Attraction Name,Attraction Type,City,Country
0,NaN,NaN,Madrid,Spain
1,Prado National Museum,Art Museums,Madrid,Spain
2,Parque del Retiro,Parks,Madrid,Spain
3,Santiago Bernabeu Stadium,Arenas & Stadiums,Madrid,Spain
4,Royal Palace of Madrid,Historic Sites • Architectural Buildings,Madrid,Spain
...,...,...,...,...
381,Ministerio de Justicia,Points of Interest & Landmarks,Madrid,Spain
382,Teatro Alfil,Theaters,Madrid,Spain
383,Galeria Marlborough,Art Galleries,Madrid,Spain
384,Parque Juan Pablo II,Parks,Madrid,Spain
385,Teatro de las Aguas,Theaters,Madrid,Spain

In [27]:
df.columns

Index(['Attraction Name', 'Attraction Type', 'City', 'Country'], dtype='object')

In [28]:
#checking for total null values
df.isnull().sum()

Attraction Name    16
Attraction Type     1
City                0
Country             0
dtype: int64

In [29]:
# reset the index
df.reset_index(drop=True)

,Attraction Name,Attraction Type,City,Country
0,NaN,NaN,Madrid,Spain
1,Prado National Museum,Art Museums,Madrid,Spain
2,Parque del Retiro,Parks,Madrid,Spain
3,Santiago Bernabeu Stadium,Arenas & Stadiums,Madrid,Spain
4,Royal Palace of Madrid,Historic Sites • Architectural Buildings,Madrid,Spain
...,...,...,...,...
382,Teatro Alfil,Theaters,Madrid,Spain
383,Galeria Marlborough,Art Galleries,Madrid,Spain
384,Parque Juan Pablo II,Parks,Madrid,Spain
385,Teatro de las Aguas,Theaters,Madrid,Spain
386,NaN,1,Madrid,Spain

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 387 entries, 0 to 386
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Attraction Name  371 non-null    object
 1   Attraction Type  386 non-null    object
 2   City             387 non-null    object
 3   Country          387 non-null    object
dtypes: object(4)
memory usage: 12.2+ KB

In [31]:
# Store the clean dataset
df.to_csv('Madridclean.csv')