In [5]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# loading the dataframe
messy_df = pd.read_csv('NewYork.csv')

In [7]:
# take a look of the first 5 rows in the data
messy_df.head()

,WlYyy,FmrIP href,dugSS src,bUshh,cIVmB,iPqaD href 2,WlYyy 2,WlYyy 3,iPqaD href 3,dugSS src 2,WlYyy 5,iPqaD,iPqaD href 5,WlYyy 6,dkvhj,WlYyy 7
0,"5,000+ places sorted by traveler favorites",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"95,552",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,The National 9/11 Memorial & Museum,1.0,https://www.tripadvisor.com/Attraction_Review-...,Speciality Museums • Historic Sites,Downtown Manhattan (Downtown),https://www.tripadvisor.com/Profile/teresaanne...,https://dynamic-media-cdn.tripadvisor.com/medi...,By,teresaannemartin,https://www.tripadvisor.com/ShowUserReviews-g6...,"A wonderful memorial, a very emotional place, ...",who lost their lives,and a beautiful...
2,"54,731",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,The Metropolitan Museum of Art,2.0,https://www.tripadvisor.com/Attraction_Review-...,Points of Interest & Landmarks • Art Museums,Central Park,https://www.tripadvisor.com/Profile/V553GTcaro...,https://dynamic-media-cdn.tripadvisor.com/medi...,By,V553GTcarolynh,https://www.tripadvisor.com/ShowUserReviews-g6...,I love the,American wing,", but hey, if all they have is Greek and Roman..."
3,"133,055",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Central Park,3.0,https://www.tripadvisor.com/Attraction_Review-...,Points of Interest & Landmarks • Parks,Central Park,https://www.tripadvisor.com/Profile/Cindyonthego,https://dynamic-media-cdn.tripadvisor.com/medi...,By,Cindyonthego,https://www.tripadvisor.com/ShowUserReviews-g6...,Loved,Strawberry Fields,"forever and John Lennon memorial, the views of..."
4,"92,293",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Empire State Building,4.0,https://www.tripadvisor.com/Attraction_Review-...,Points of Interest & Landmarks • Architectural...,Midtown,https://www.tripadvisor.com/Profile/brianmeshkin,https://dynamic-media-cdn.tripadvisor.com/medi...,By,brianmeshkin,https://www.tripadvisor.com/ShowUserReviews-g6...,We bought the,Express Pass,and when we got up to the observation tower on...

In [8]:
# check the datatype & non-null count
messy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1359 entries, 0 to 1358
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   WlYyy         1354 non-null   object
 1   FmrIP href    1302 non-null   object
 2   dugSS src     1207 non-null   object
 3   bUshh         1302 non-null   object
 4   cIVmB         1302 non-null   float64
 5   iPqaD href 2  1298 non-null   object
 6   WlYyy 2       1357 non-null   object
 7   WlYyy 3       1267 non-null   object
 8   iPqaD href 3  436 non-null    object
 9   dugSS src 2   436 non-null    object
 10  WlYyy 5       436 non-null    object
 11  iPqaD         436 non-null    object
 12  iPqaD href 5  436 non-null    object
 13  WlYyy 6       432 non-null    object
 14  dkvhj         436 non-null    object
 15  WlYyy 7       393 non-null    object
dtypes: float64(1), object(15)
memory usage: 170.0+ KB

In [9]:
# making a cop of the data to clean it
df = messy_df.copy()

In [10]:
# dropping the unnecessary columns
df.drop(['WlYyy', 'FmrIP href', 'dugSS src', 'cIVmB', 'iPqaD href 2','WlYyy 3', 'iPqaD href 3', 'dugSS src 2', 'WlYyy 5', 'iPqaD','iPqaD href 5', 'WlYyy 6', 'dkvhj', 'WlYyy 7'], axis=1 , inplace=True)

In [11]:
# renaming the columns
df.rename(columns={ 'bUshh':'Attraction Name', 'WlYyy 2':'Attraction Type'}, inplace=True)

In [12]:
# adding new columns
df['City'] = 'NewYork'
df['Country'] = 'USA'

In [13]:
# check the total duplicated rows
sum(df.duplicated())

187

In [14]:
# drop the duplicated rows
df.drop_duplicates()

,Attraction Name,Attraction Type,City,Country
0,NaN,NaN,NewYork,USA
1,The National 9/11 Memorial & Museum,Speciality Museums • Historic Sites,NewYork,USA
2,The Metropolitan Museum of Art,Points of Interest & Landmarks • Art Museums,NewYork,USA
3,Central Park,Points of Interest & Landmarks • Parks,NewYork,USA
4,Empire State Building,Points of Interest & Landmarks • Architectural...,NewYork,USA
...,...,...,...,...
1353,NYC Guide Pro,City Tours • Historical & Heritage Tours,NewYork,USA
1354,9/11 Walking Tours,Historical & Heritage Tours • Walking Tours,NewYork,USA
1355,Tour Patron,Day Trips,NewYork,USA
1356,Tomi Jazz,Jazz Bars,NewYork,USA
1357,Amtrak,Rail Services,NewYork,USA

In [15]:
df.columns

Index(['Attraction Name', 'Attraction Type', 'City', 'Country'], dtype='object')

In [16]:
#checking for total null values
df.isnull().sum()

Attraction Name    57
Attraction Type     2
City                0
Country             0
dtype: int64

In [17]:
# reset the index
df.reset_index(drop=True)

,Attraction Name,Attraction Type,City,Country
0,NaN,NaN,NewYork,USA
1,The National 9/11 Memorial & Museum,Speciality Museums • Historic Sites,NewYork,USA
2,The Metropolitan Museum of Art,Points of Interest & Landmarks • Art Museums,NewYork,USA
3,Central Park,Points of Interest & Landmarks • Parks,NewYork,USA
4,Empire State Building,Points of Interest & Landmarks • Architectural...,NewYork,USA
...,...,...,...,...
1354,9/11 Walking Tours,Historical & Heritage Tours • Walking Tours,NewYork,USA
1355,Tour Patron,Day Trips,NewYork,USA
1356,Tomi Jazz,Jazz Bars,NewYork,USA
1357,Amtrak,Rail Services,NewYork,USA
1358,NaN,1,NewYork,USA

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1359 entries, 0 to 1358
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Attraction Name  1302 non-null   object
 1   Attraction Type  1357 non-null   object
 2   City             1359 non-null   object
 3   Country          1359 non-null   object
dtypes: object(4)
memory usage: 42.6+ KB

In [19]:
# Store the clean dataset
df.to_csv('NewYorkclean.csv')