In [5]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
# loading the dataframe
messy_df = pd.read_csv('Sydney.csv')

In [7]:
# take a look of the first 5 rows in the data
messy_df.head()

,WlYyy,FmrIP href,dugSS src,bUshh,cIVmB,iPqaD href 2,WlYyy 2,WlYyy 3,iPqaD href 3,dugSS src 2,WlYyy 5,iPqaD,iPqaD href 5,WlYyy 6,dkvhj,WlYyy 7
0,"2,000+ places sorted by traveler favorites",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"24,263",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Sydney Opera House,1.0,https://www.tripadvisor.com/Attraction_Review-...,Points of Interest & Landmarks • Architectural...,Central Business District,https://www.tripadvisor.com/Profile/joelsR585NI,https://dynamic-media-cdn.tripadvisor.com/medi...,By,joelsR585NI,https://www.tripadvisor.com/ShowUserReviews-g2...,... the amazing magic show the best trick ever...,opera house,last night great magic great show and as alway...
2,"13,923",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Sydney Harbour Bridge,2.0,https://www.tripadvisor.com/Attraction_Review-...,Bridges,NaN,https://www.tripadvisor.com/Profile/traceylvvy,https://dynamic-media-cdn.tripadvisor.com/medi...,By,traceylvvy,https://www.tripadvisor.com/ShowUserReviews-g2...,the,harbour bridge,is amazing you can walk across the bridge for ...
3,"9,745",https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Royal Botanic Garden Sydney,3.0,https://www.tripadvisor.com/Attraction_Review-...,Gardens,Central Business District,https://www.tripadvisor.com/Profile/V1886IGkimw,https://dynamic-media-cdn.tripadvisor.com/medi...,By,V1886IGkimw,https://www.tripadvisor.com/ShowUserReviews-g2...,Great place to enjoy stunning harbour and,Opera House,"views, as well as the beautiful flora, lots of..."
4,27,https://www.tripadvisor.com/Attraction_Review-...,https://dynamic-media-cdn.tripadvisor.com/medi...,Street Art of Newtown,4.0,https://www.tripadvisor.com/Attraction_Review-...,Points of Interest & Landmarks,NaN,https://www.tripadvisor.com/Profile/JnVSydney,https://dynamic-media-cdn.tripadvisor.com/medi...,By,JnVSydney,https://www.tripadvisor.com/ShowUserReviews-g8...,"During our stay in Newtown, we basically stumb...",king street,", howeve..."

In [8]:
# check the datatype & non-null count
messy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   WlYyy         380 non-null    object
 1   FmrIP href    366 non-null    object
 2   dugSS src     360 non-null    object
 3   bUshh         366 non-null    object
 4   cIVmB         366 non-null    float64
 5   iPqaD href 2  366 non-null    object
 6   WlYyy 2       379 non-null    object
 7   WlYyy 3       179 non-null    object
 8   iPqaD href 3  150 non-null    object
 9   dugSS src 2   150 non-null    object
 10  WlYyy 5       150 non-null    object
 11  iPqaD         150 non-null    object
 12  iPqaD href 5  150 non-null    object
 13  WlYyy 6       148 non-null    object
 14  dkvhj         150 non-null    object
 15  WlYyy 7       137 non-null    object
dtypes: float64(1), object(15)
memory usage: 47.6+ KB

In [9]:
# making a cop of the data to clean it
df = messy_df.copy()

In [10]:
# dropping the unnecessary columns
df.drop(['WlYyy', 'FmrIP href', 'dugSS src', 'cIVmB', 'iPqaD href 2','WlYyy 3', 'iPqaD href 3', 'dugSS src 2', 'WlYyy 5', 'iPqaD','iPqaD href 5', 'WlYyy 6', 'dkvhj', 'WlYyy 7'], axis=1 , inplace=True)

In [11]:
# renaming the columns
df.rename(columns={ 'bUshh':'Attraction Name', 'WlYyy 2':'Attraction Type'}, inplace=True)

In [12]:
# adding new columns
df['City'] = 'Sydney'
df['Country'] = 'Australia'

In [13]:
# check the total duplicated rows
sum(df.duplicated())

17

In [14]:
# drop the duplicated rows
df.drop_duplicates()

,Attraction Name,Attraction Type,City,Country
0,NaN,NaN,Sydney,Australia
1,Sydney Opera House,Points of Interest & Landmarks • Architectural...,Sydney,Australia
2,Sydney Harbour Bridge,Bridges,Sydney,Australia
3,Royal Botanic Garden Sydney,Gardens,Sydney,Australia
4,Street Art of Newtown,Points of Interest & Landmarks,Sydney,Australia
...,...,...,...,...
367,Experiment Farm Cottage,Historic Sites,Sydney,Australia
368,The Pool of Reflection,Points of Interest & Landmarks,Sydney,Australia
369,Frazer Memorial Fountain,Monuments & Statues • Fountains,Sydney,Australia
370,Dobell Memorial Sculpture,Points of Interest & Landmarks,Sydney,Australia
371,Jubilee Park,Parks,Sydney,Australia

In [15]:
df.columns

Index(['Attraction Name', 'Attraction Type', 'City', 'Country'], dtype='object')

In [16]:
#checking for total null values
df.isnull().sum()

Attraction Name    14
Attraction Type     1
City                0
Country             0
dtype: int64

In [17]:
# reset the index
df.reset_index(drop=True)

,Attraction Name,Attraction Type,City,Country
0,NaN,NaN,Sydney,Australia
1,Sydney Opera House,Points of Interest & Landmarks • Architectural...,Sydney,Australia
2,Sydney Harbour Bridge,Bridges,Sydney,Australia
3,Royal Botanic Garden Sydney,Gardens,Sydney,Australia
4,Street Art of Newtown,Points of Interest & Landmarks,Sydney,Australia
...,...,...,...,...
375,Wentworth Park Greyhound Racing,Casinos,Sydney,Australia
376,Yininmadyemi,Monuments & Statues,Sydney,Australia
377,Foundation Park,Parks,Sydney,Australia
378,Brewery Yard Markets,Breweries,Sydney,Australia
379,NaN,1,Sydney,Australia

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380 entries, 0 to 379
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Attraction Name  366 non-null    object
 1   Attraction Type  379 non-null    object
 2   City             380 non-null    object
 3   Country          380 non-null    object
dtypes: object(4)
memory usage: 12.0+ KB

In [19]:
# Store the clean dataset
df.to_csv('Sydneyclean.csv')